@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-kua-main: #24408f;
    --color-kua-white: #ffffff;
    --color-kua-gray100: #f7f7f7;
    --color-kua-gray200: #e5e7eb;
    --color-kua-gray250: #eaecf2;
    --color-kua-gray300: #d1d9e1;
    --color-kua-gray400: #a6abb7;
    --color-kua-gray500: #767b86;
    --color-kua-gray800: #3d414a;
    --color-kua-black100: #333333;
    --color-kua-sky50: #f7f9fb;
    --color-kua-sky100: #edf9ff;
    --color-kua-sky300: #00aeef;
    --color-kua-blue50: #f0f5ff;
    --color-kua-blue300: #2c68ae;
    --color-kua-blue500: #1d3a82;
    --color-kua-blue600: #1c2c5b;
    --color-kua-darkblue800: #051726;
    --color-kua-orange500: #fd5725;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
